/*stylesheet*/

body{
	margin: 0;
	background: black;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 600;
	font-size: 2.5em;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main{
	background: #131315;
	margin: 2em;
	padding: 3em;
}

#margin{
	font-weight: 700;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 2em;
}

#sidebar {
	/*background: blue;*/
}

#logo {
	padding: 2em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img { 
	width: 117%;
	height: auto;
}

	.item img {
		margin-bottom: 2em;
	}

#content img, .item img { 
	width: 88%;
	height: auto;
	margin-bottom: 1.5em;
}

#one{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-style: italic;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main{
	margin: 1em;
	padding: 0em;
	}

}
