/*stylesheet*/

body{
	margin: 0;
	background: black;
	color:white;
	font-family: 'Lato', monospace;
	font-weight: 300;
}

h1, h2 {
	font-weight: 300;
}

div{
	width: 600px;
	height: 600px;
	background: pink;
	margin: 2em;
	padding: 2em;
}
