/*stylesheet*/

body{
	margin: 0;
	background: black;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 600;
	font-size: 2.5em;
}

#caption{
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
	font-style: italic;
}

#main{
	background: #131315;
	margin: 2em;
	margin-top:1.5em;
	padding: 3em;
}

.topnav {
  background-color: #black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 600;
  margin-left: 2em;
  margin-top: 1em;
}

.topnav-right {
  float: right;
  margin-right: 3em;
}


.topnav a:hover {
  background-color: black;
  color: blue;
}

.topnav .icon {
  display: none;
}

#wrapper {
	margin: 1em auto;
	max-width: 1200px;
}

#sidebar {
	/*background: blue;*/
}

#logo {
	padding: 2em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img { 
	width: 117%;
	height: auto;
}

	.item img {
		margin-bottom: 2em;
	}

#content img, .item img { 
	width: 88%;
	height: auto;
	margin-bottom: 1.5em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 40%;
  padding: 8px;
  column-gap: 2em;
  grid-row-gap: 2em;
  margin-left: 5em;
  margin-top: 5em;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin:auto;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main{
	margin: 1em;
	padding: 0em;
	}

}
